@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-rgb: #f9f6f0;
  --font-roboto: "Roboto", cursive;
  --font-lexend-deca: "Lexend Deca", cursive;
  --font-pacifico: "Pacifico", cursive;
  --font-baloo: "Baloo 2", sans-serif;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

.image-dezoom {
  object-fit: cover;
  transform: scale(0.8); /* Réduit l'image à 80% de sa taille */
  transition: transform 0.3s ease; /* Animation pour effet fluide */
}

.image-dezoom:hover {
  transform: scale(1); /* Réinitialise au zoom normal au survol */
}

.rotating-background {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  color: white;
}

.rotating-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  transform: rotate(-1deg);
  transform-origin: center;
  z-index: -1;
}

.underline-custom-left {
  position: relative;
}

.underline-custom-left::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 36px;
  height: 4px;
  background-color: #f394d0;
}

.underline-custom-right {
  position: relative;
}

.underline-custom-right::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 36px;
  height: 4px;
  background-color: #f394d0;
}

.slick-dots li.slick-active .w-5 {
  width: 30px !important;
  height: 30px !important;
  background-color: #3b82f6; /* couleur bleue de Tailwind */
}

.slick-slide > div {
  padding: 0 10px; /* Adjust the padding as needed */
}

.slide-item {
  background-color: #f0f0f0; /* Couleur de fond pour les slides */
  text-align: center; /* Centrer le texte */
  border-radius: 8px; /* Coins arrondis */
}

.custom-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-paginator .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.custom-paginator .dot.active {
  transform: scale(1.5);
  background-color: #f394d0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-width: 1024px) {
  .rotating-background {
    padding: 8px 16px;
  }

  .rotating-background::after {
    transform: rotate(-1deg);
  }

  .underline-custom-right {
    position: relative;
  }

  .underline-custom-right::after {
    content: "";
    position: absolute;
    left: 0;
  }
}
